
.task_app{
  margin-top: 40px;
}

#app_namesize {
  font-style: italic;
  font-weight: bold;
  font-size: 4.5em;
  letter-spacing: -5px;
}

.app_explanation {
  text-align: center;
  font-size: 18px;
}
.log_in {
  margin-top: 10px;
}
