
/* タスク新規作成ボタン */
.create-task {
  height: 2.7em;
  margin-bottom: 0px;
  font-size: 1.2em;
  line-height: 1.7em;
}

/* タスク一覧項目 */
.tasks-index-title {
  font-size: 13px;
}

/* タスク一覧 */
#task-title {
  font-size: 17px;
  vertical-align: middle;
}

#task-created-at {
  vertical-align: middle;
}

/* タスク新規登録 */
.label-signup {
  margin-top: 3px;
}

#area-height {
  height: 135px;
}

.btn-signup {
  margin-top: 10px;
}

/* タスク編集 */
.btn-color {
  background-color: white;
  color: black;
  border-color: silver;
}

.btn-color:hover {
  background-color: #eee;
}