/* ユーザー情報登録 */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* ユーザー情報編集 */
.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧 */
.table tbody > tr > #user-name {
  padding: 7px;
  vertical-align: middle;
}

.table tbody > tr > #user-delete {
  padding: 5px;
  text-align: right;
  vertical-align: middle;
}

.user-delete-btn {
  font-size: 11px;
  padding: 8px 10px;
} 

